* {
  --header-size: 65px;
  --main-color: #063949;
  --main-color-rgb: 6, 57, 73;
  --help-color: #8B0000;
  --help-color-rgb: 139, 0, 0;
  --waiting-color: #FBB117;
  --waiting-color-rgb: 251, 177, 23;
  --success-color: #198754;
  --gray: #bdbdbd;
  --gray-rgb: 74, 74, 74;
  --gray-dark: #212529;
  --white: #ffffff; }

.btn {
  font-size: 1rem; }

.main-block {
  margin-top: 60px;
  flex: 1; }

.footer-block {
  width: 100%;
  display: flex;
  height: var(--header-size);
  align-items: center; }

.container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 100%; }

.flex-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem; }

.mt-1 {
  margin-top: 1rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.help-block {
  color: var(--help-color);
  font-size: 0.7rem; }

.text-error {
  color: var(--help-color); }

.text-success {
  color: var(--success-color); }

.bg-waiting {
  background-color: rgba(var(--waiting-color-rgb), 0.7) !important; }
